body {
    padding: 0 0;
    margin: 0 0;
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
}



/* NAV */

nav#desktop {
    display: flex;
    position: fixed;
    justify-content: space-around;
    background-color: hsl(240deg 8% 95%);
    width: 100%;
    /* padding: 20px 0; */
}

a.nav-link {
    color: rgb(36, 36, 36);
    font-family: 'Futura', sans-serif;
    text-align: center; 
    font-size: 13px;
    font-weight: 400; 
    border-bottom: 1px solid rgb(36, 36, 36);
    padding-bottom: 2px;
    text-decoration: none;
    margin: 20px 20px;
}

a.nav-link:hover {
    color: hsl(11deg 72% 42%);
    border-bottom: 1px solid hsl(11deg 72% 42%);
}




/* TITLE PAGE */

.title-div {
    background-color: hsl(33deg 40% 66%);
    /* background-image: url("images/photay3.jpg"); */
    background-image: url("images/guitar-bg.jpeg");
    background-size: cover;
    background-position: center;

    background-blend-mode: soft-light;
    margin: 0 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: hsl(240deg 8% 95%);
    font-family: 'Futura', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 10px 0 10px 0;
}

h2 {
    color: hsl(33deg 43% 81%);
    font-family: 'Futura', sans-serif;
    text-align: center; 
    font-size: 20px;
    font-weight: 700;
}

h2.coupon-header {
    color: hsl(240deg 8% 95%);
    font-family: 'Futura', sans-serif;
    text-align: center; 
    font-size: 20px;
    font-weight: 700;
    margin-top: 35px;
    padding: 0 50px;
}

button {
    border: none;
    /* color: rgb(41, 28, 28); */
    color: hsl(11deg 72% 42%);
    cursor: pointer;

    padding: 25px 25px;
    background-color: hsl(240deg 8% 95% / 75%);
    width: auto;
    font-family: 'Futura', sans-serif;
    text-align: center; 
    font-size: 18px;
    font-weight: 400; 
    margin-top: 35px;
    margin-left: 25%;
    margin-right: 25%;
    width: auto;
    left: 50%;
    /* border: 1px solid hsl(240deg 8% 95% / 65%); */
    /* padding-bottom: 2px; */
}

button:hover {
    color: hsl(11deg 72% 42%);
    background-color: hsl(240deg 8% 95% / 95%);
}


.img-box {
    height: 500px;
}


/* ABOUT PAGE */

.text-page {
    padding: 100px 50px 100px 50px;
}

div#about {
    background-color: rgb(100 85 97);
    background-image: url("images/IMG_1122.jpeg");
    background-size: cover;
    background-blend-mode: soft-light;
}

h3 {
    color: hsl(240deg 8% 95%);
    font-family: 'Futura', sans-serif;
    text-align: left; 
    font-size: 24px;
    /* font-weight: 700; */
}

.p-link {
    color: hsl(240deg 8% 95%);
    border-bottom: 1px solid hsl(240deg 8% 95% / 85%);
    text-decoration: none;
}

.p-link:hover {
    color: rgb(245 199 197);
    border-bottom: 1px solid rgb(245 199 197);
}

.page-title {
    border-bottom: 1px solid hsl(240deg 8% 95% / 85%);
    padding-bottom: 5px;
}

#about .page-title {
    color: rgb(245 199 197);
    border-bottom: 1px solid rgb(245 199 197 / 85%);
}

.quote {
    border-left: 5px solid rgb(245 199 197 / 45%);
    padding-left: 15px;
}

p {
    color: hsl(240deg 8% 95%);
    font-family: 'georgia', serif;    
    text-align: left; 
    font-size: 16px;
    font-weight: 100;
    /* padding: 0 50px 0 0; */

}

ol {
    display: flex;
    flex-direction: column;
    /* list-style-type: none; */
    padding: 0 0;
    margin-left: 50px;
}

li.list-category {
    color: rgb(241,241,243);
    font-family: 'futura', serif;    
    text-align: left; 
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
    width: auto;
    border-bottom: 1px solid hsl(240deg 8% 95% / 31%);
    margin: 30px 0 0 0;
    padding: 10px 20px 0px 0px;
    justify-content: space-between;
}

#about li.list-category {
    color: rgb(245 199 197);
    border-bottom: 1px solid rgb(245 199 197 / 31%);
}

li {
    color: rgb(241,241,243);
    font-family: 'georgia', serif; 
    font-size: 16px;
    font-weight: 100;

}




/* WHAT YOU'LL LEARN PAGE */

#material {
    background-color: #4e7d83;
    /* color:rgb(36, 36, 36) */
    background-image: url("images/IMG_1031.jpeg");
    background-size: cover;
    background-blend-mode: soft-light;
}

#material .page-title {
    color: rgb(58 65 96);
    border-bottom: 1px solid rgb(58 65 96 / 85%);
}

#material li.list-category {
    color: rgb(58 65 96);
    border-bottom: 1px solid rgb(58 65 96 / 31%);
}

.p-link-2 {
    color: hsl(240deg 8% 95%);
    border-bottom: 1px solid hsl(240deg 8% 95% / 85%);
    text-decoration: none;
}

.p-link-2:hover {
    color: rgb(58 65 96);
    border-bottom: 1px solid rgb(58 65 96);
}



/* PRICING PAGE */

#pricing {
    background-color: #576e57;
    background-image: url("images/IMG_0946.jpeg");
    background-size: cover;
    background-blend-mode: soft-light;
}

.flex-text-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pricing-item {
    color: rgb(241,241,243);
    font-family: 'futura', serif;    
    text-align: left; 
    font-size: 16px;
    font-weight: 100;
    background-color: rgb(36 36 36 / 69%);
    /* border: 1px solid hsl(240deg 8% 95% / 31%); */
}

#pricing .page-title {
    color: hsl(101deg 25% 74%);
    border-bottom: 1px solid hsl(101deg 25% 74%);
}

h4 {
    padding: 10px 10px;
    margin: 0 0;
    text-align: center;
    border-bottom: 1px solid hsl(101deg 25% 74% / 31%);
    color: hsl(101deg 25% 74%);
}

.pricing-text {
    padding: 0 10px;
    text-align: center;
}

.spacer {
    width: 10%;
    height: 10%;
}

.pricing-button {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: hsl(240deg 8% 95% / 75%);
}

.pricing-button:hover {
    background-color: hsl(240deg 8% 95% / 95%);
}

.p-link-cta {
    color: hsl(240deg 8% 95%);
    border-bottom: 1px solid hsl(240deg 8% 95% / 85%);
    text-decoration: none;
}

.p-link-cta:hover {
    color: hsl(101deg 25% 74%);
    border-bottom: 1px solid hsl(101deg 25% 74%);
}

p.support-text-pricing {
    margin: 50px 0 20px 0;
}

#pricing ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0 0;
    margin-left: 50px;
    /* list-style: none; */
    color: hsl(101deg 25% 74%);
}

#pricing li.list-category {
    color: hsl(101deg 25% 74%);
    /* list-style-type: none; */
    border-bottom: 1px solid hsl(101deg 25% 74% / 31%);
}



/* MEDIA QUERIES */

/* LESS THAN 600PX WIDTH */
@media only screen and (max-width: 617px) {
    nav#desktop {
        display: none;
    }

    body.menu-color {
        background-color: hsl(240deg 8% 95%);
    }

    nav#iphone {
        display: flex;
        position: fixed;
        justify-content: space-around;
        background-color: hsl(240deg 8% 95%);
        width: 100%;
        /* color: white; */
        /* background-color: white; */
    }

    .active {
       display: flex;
       width: 100%;
       margin: 0;
       top: 40%;
       margin: 30% 0;
       flex-direction: column;
       justify-content: space-around; 
       background-color: hsl(240deg 8% 95%);
       align-items: center;
    }

    a.nav-link {
        border-bottom: 0px;

    }

    a.nav-link.iphone-links {
        margin: 30px 0;
    }

    a.nav-link:hover {
        border-bottom: 0px;
    }

    .flex-text-box {
        flex-direction: column;
    }

    .spacer {
        width: 10%;
        height: 20px;
    }

    ol {
        margin-left: 0px;
    }

   #pricing ul {
        margin-left: 0px;
    }

    li.list-category {
        margin-left: 0px;
    }

    .hidden {
        display: none;
    }

}
